<p-dialog
  header="Header"
  [modal]="true"
  [(visible)]="visible"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '25rem' }"
>
  <ng-template pTemplate="headless">
    <div
      class="flex flex-col gap-3 p-4 box-shadow-dialog"
      style="border-radius: 12px; background-color: white"
    >
      <div class="flex items-center justify-center gap-2">
        <span class="text-lg font-bold block mb-5">Carga Manual</span>
      </div>
      <div class="flex flex-col gap-3">
        <p>Año</p>
        <input
          type="date"
          placeholder="Año"
          class="w-full py-2 px-4 outline-none rounded-md border-2 border-gray-200"
        />
      </div>
      <div class="flex flex-col">
        <p>Semestre</p>
        <select [(ngModel)]="selectedOption" class="w-full py-2 px-4 outline-none rounded-md border-2 border-gray-200">
          <option *ngFor="let option of options" [value]="option.name">{{option.name}}</option>
        </select>
      </div>
      <div class="flex flex-col">
        <p>Plan de Estudio</p>
        <select [(ngModel)]="selectedOption" class="w-full py-2 px-4 outline-none rounded-md border-2 border-gray-200">
          <option *ngFor="let option of options" [value]="option.name">{{option.name}}</option>
        </select>
      </div>
      <div class="flex flex-col">
        <p>Curso</p>
        <select [(ngModel)]="selectedOption" class="w-full py-2 px-4 outline-none rounded-md border-2 border-gray-200">
          <option *ngFor="let option of options" [value]="option.name">{{option.name}}</option>
        </select>
      </div>
      <div class="flex flex-col">
        <p>Responsable</p>
        <select [(ngModel)]="selectedOption" class="w-full py-2 px-4 outline-none rounded-md border-2 border-gray-200">
          <option *ngFor="let option of options" [value]="option.name">{{option.name}}</option>
        </select>
      </div>
      <div class="flex justify-between items-center gap-2">
        <div
          class="custom-button text-customRed border-1 border-customRed"
          (click)="handleCloseModal()"
        >
          CANCELAR
        </div>
        <div class="custom-button bg-customRed hover:bg-[#CAB0B5] text-white">
          CARGAR
        </div>
      </div>
    </div>
  </ng-template>
</p-dialog>
