<div class="container" appDnd (fileDropped)="onFileDropped($event)">
  <input
    type="file"
    #fileDropRef
    id="fileDropRef"
    multiple
    (change)="fileBrowseHandler($event)"
    class="input"
  />
  <img src="assets/img/dnd/ic-upload-file.svg" alt="" />
  <h3 class="h3">Drag and drop file here</h3>
  <h3 class="h3">or</h3>
  <label class="label bg-customRed" for="fileDropRef">Browse for file</label>
</div>
<div class="files-list">
  <div class="single-file" *ngFor="let file of files; let i = index">
    <img src="assets/img/dnd/ic-file.svg" width="45px" alt="file" />
    <div class="info">
      <h4 class="name">
        {{ file?.name }}
      </h4>
      <p class="size">
        {{ formatBytes(file?.size) }}
      </p>
      <app-progress [progress]="file?.progress"></app-progress>
    </div>
    <img
      src="assets/img/dnd/ic-delete-filesvg"
      class="delete"
      width="20px"
      alt="file"
      (click)="deleteFile(i)"
    />
  </div>
</div>
