<div class="px-5 py-3 flex flex-col gap-7 bg-gray-100">
  <h2 class="font-bold text-xl text-gray-600">Fundamentos de Programación</h2>

  <div class="flex w-full pl-2.5 pr-2.5">
    <ul class="flex w-full items-center justify-between list-none m-0 p-0">
      @for (item of menuItems; track item.name) {
      <li
        class="flex items-center p-1.5 rounded-lg cursor-pointer mb-4"
        [ngClass]="{ 'bg-[#d9c7ca]': item.isActive }"
        (click)="handleClickMenuItem($index)"
      >
        <span
          class="text-base font-semibold"
          [ngClass]="{
            'text-customRed': item.isActive,
            'text-gray-600': !item.isActive
          }"
        >
          {{ item.name }}
        </span>
      </li>
      }
    </ul>
  </div>
</div>
