<p-table
  #dt
  [value]="source"
  [rows]="6"
  [paginator]="true"
  [globalFilterFields]="headers | extractProperty : 'key'"
  [tableStyle]="{ 'min-width': '50rem' }"
  [(selection)]="selectedData"
  [rowHover]="true"
  dataKey="id"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [showCurrentPageReport]="true"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 4rem">
        <p-tableHeaderCheckbox />
      </th>
      @for (header of headers; track header.key) { @if (header.key !== "id") {
      <th [pSortableColumn]="header.key" style="min-width: 10rem">
        {{ header.value }} <p-sortIcon [field]="header.key" />
      </th>
      } }

      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-register>
    <tr>
      <td>
        <p-tableCheckbox [value]="register" />
      </td>
      @for (header of headers; track header.key) { @if (!(header.key == "id" ||
      header.key == "status")) {
      <td>
        {{ register[header.key] }}
      </td>
      } }
      <td>
        <div
          class="flex justify-center font-bold py-3 rounded-md"
          [ngClass]="{
            'text-[#4c4b4b]': !register.status,
            'bg-[#e1e6e3]': !register.status,
            'text-[#43684e]': register.status,
            'bg-[#c6eec8e3]': register.status
          }"
        >
          <span class="material-icons mr-3"> incomplete_circle</span>

          <p>{{ register.status ? "Active" : "Inactive" }}</p>
        </div>
      </td>
      <td>
        <div
          (click)="redirect(register.id)"
          class="flex  custom-button bg-customRed hover:bg-[#CAB0B5] text-white"
        >
          <span class="material-icons mr-2">visibility</span>
          <p>Ver</p>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
