<div class="login-page w-full h-screen flex flex-wrap items-center justify-center bg-cover bg-center bg-[#6A2733]">

  <div class="w-full max-w-full bg-[#CAB0B5] flex flex-col md:flex-row items-center justify-center md:mx-16">
    <div class="w-full flex flex-col md:flex-row">
      <!-- Message -->
      <div class="w-full md:w-1/3 pr-4 text-center md:text-left">
        <h1 class="text-5xl mb-12 md:mb-20 mt-12 md:mt-20 mx-8 md:mx-10">
          <span class="text-white">Welcome to</span>
          <br>
          <span class="font-bold text-[#6A2733]">E-PORTAFOLIO DOCENTES</span>
        </h1>
        <img class="mx-auto mb-4" src="assets/logo_unsa.png" alt="Logo UNSA" width="180" height="200">
      </div>

      <!-- Form -->
      <div class="w-full md:w-2/3 mt-4 md:mt-0">
        <div class="w-full h-full bg-white rounded-l-3xl pt-12 pb-36 space-y-6 md:space-y-10 px-4 md:px-8">
          <div class="w-full md:w-2/3 mt-4 md:mt-0">
            <p class="text-center text-gray-600 mb-4">Por favor, inicia sesión para acceder.</p>
            <div class="button-login flex flex-col items-center mb-4">
              <button (click)="doLogin()"
                class="bg-[#6A2733] text-white hover:text-white font-bold py-3 px-12 md:px-24 rounded focus:outline-none focus:shadow-outline">
                Iniciar Sesión
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
