<div class="px-5 py-3 flex flex-col gap-7 bg-gray-100">
  <h2 class="font-bold text-xl text-gray-500">Usuarios</h2>

  <div class="flex items-center">
    <div
      class="bg-white rounded-md flex items-center border-2 border-gray-200"
    >
      <span class="material-icons ml-3 cursor-pointer text-gray-500"> search</span>
      <input
        type="text"
        placeholder="Search"
        [(ngModel)]="search"
        class="w-full py-2 px-4 outline-none"
      />
    </div>
    <div class="ml-3 custom-button">
      <span class="material-icons mr-2 text-gray-500"> tune</span>
      <p>Filters</p>
    </div>
  </div>
  <app-table-admin
    class="p-5"
    [source]="source"
    [search]="search"
    [headers]="headers"
  />
</div>
