<div class="flex justify-end p-4 bg-white">
  <button class="bg-white text-black py-2 px-4 rounded">
    <div class="flex items-center">
      <p>{{ userRole }}</p>
      <span class="material-icons ml-3">keyboard_arrow_down</span>
    </div>
  </button>
</div>
