@if (isLoggedIn ) {
    <div class="home">
      <app-sidebar />
      <div class="homeContainer">
        <app-navbar />
        <router-outlet></router-outlet>
      </div>
    </div>
}
@else {
  <router-outlet></router-outlet>
}
