<p-table #dt [value]="source" [rows]="6" [paginator]="true" [globalFilterFields]="[
    'nombre',
    'year',
    'fechaInicio',
    'fechaFin',
    'status'
  ]" [tableStyle]="{ 'min-width': '50rem' }" [(selection)]="selectedData" [rowHover]="true" dataKey="id"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 4rem">
        <p-tableHeaderCheckbox />
      </th>
      <th pSortableColumn="nombre" style="min-width: 10rem">
        Nombre <p-sortIcon field="nombre" />
      </th>
      <th pSortableColumn="fechaInicio" style="min-width: 10rem">
        Fecha de inicio <p-sortIcon field="fechaInicio" />
      </th>
      <th pSortableColumn="fechaFin">
        Fecha de fin <p-sortIcon field="fechaFin" />
      </th>
      <th pSortableColumn="status" style="min-width: 10rem">
        Estado <p-sortIcon field="status" />
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-register>
    <tr>
      <td>
        <p-tableCheckbox [value]="register" />
      </td>
      <td>
        {{ register.nombre }}
      </td>
      <td>
        {{ register.fechaFin }}
      </td>
      <td>
        {{ register.fechaFin }}
      </td>
      <td>
        <div class="flex justify-center font-bold py-3 rounded-md" [ngClass]="{
              'text-[#4c4b4b]': !register.status,
              'bg-[#e1e6e3]': !register.status,
              'text-[#43684e]': register.status,
              'bg-[#c6eec8e3]': register.status
            }">
          <span class="material-icons mr-3"> incomplete_circle</span>

          <p>{{ register.status ? "Active" : "Inactive" }}</p>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
