<div class="px-5 py-3 flex flex-col gap-7 bg-gray-100 ">

  <h2 class="font-bold text-xl text-gray-600">Semestres Academicos</h2>

  <form [formGroup]="semesterForm" (ngSubmit)="onSubmitSemester()" class="flex flex-col gap-5">

    <!-- Nombre -->
    <div class="card flex justify-content-center">
      <div class="flex flex-column gap-2">
        <label for="name">Nombre</label>
        <input pInputText id="name" formControlName="name" placeholder="Nombre" aria-describedby="name-help" />
      </div>
    </div>

    <!-- Año y semestre -->
    <div class="flex gap-5">
      <div class="form-group flex-1">
        <label for="year" class="mb-2">Año</label>
        <br>
        <p-calendar
          formControlName="year"
          view="year"
          placeholder="Seleccionar año"
          dateFormat="yy"
          inputId="year"
          class="mb-4"></p-calendar>
      </div>
      <div class="form-group flex-1">
        <label for="semester" class="mb-2">Semestre</label>
        <br>
        <select id="semester" formControlName="semester" class="mb-4 px-12">
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
        </select>
      </div>
    </div>

    <!-- Fechas -->
    <div class="flex gap-5">
      <div class="form-group flex-1">
        <label for="startDate" class="mb-2">Fecha de inicio</label>
        <br>
        <p-calendar
          formControlName="startDate"
          [showIcon]="true"
          placeholder="Seleccionar fecha"
          inputId="startDate"
          class="mb-4"></p-calendar>
      </div>
      <div class="form-group flex-1">
        <label for="endDate" class="mb-2">Fecha de fin</label>
        <br>
        <p-calendar
          formControlName="endDate"
          [showIcon]="true"
          placeholder="Seleccionar fecha"
          inputId="endDate"
          class="mb-4"></p-calendar>
      </div>
    </div>
    <button type="submit" [disabled]="semesterForm.invalid" class="bg-customRed hover:bg-[#CAB0B5] rounded-lg text-white px-4 py-2">Añadir Semestre</button>
  </form>

  <div class="flex items-center justify-between p-5 gap-x-36">
    <div class="flex items-center justify-between w-60 flex-1">
      <div class="flex-1 flex items-center">
        <h2 class="font-bold text-xl text-gray-600">Fases</h2>
      </div>
    </div>
    <div class="flex items-center justify-between gap-2">
      <div class="custom-button" (click)="disableDeleteButton && showDialog()" [ngClass]="{
          'bg-[#e6e0e0]': !disableDeleteButton,
          'bg-slate-50': disableDeleteButton
        }">
        <span class="material-icons mr-2"> delete</span>
        <p>Delete</p>
      </div>
      <!-- Botón de añadir fase -->
      <div (click)="onAddPhase()" class="custom-button bg-customRed hover:bg-[#CAB0B5] text-white">
        <span class="material-icons mr-2"> add</span>
        <p>Añadir Fase</p>
      </div>
    </div>
  </div>


  <!-- Tabla o componente de fases -->
  <app-table-phase class="p-5" (canDelete)="disableDeleteButton = $event" [source]="source" [removeDelete]="canDelete"
    (deleteSource)="deleteSourcePrepare($event)" [search]="search"></app-table-phase>
</div>


<!-- Ventana para añadir fase -->
<p-dialog header="Añadir Fase" [(visible)]="visibleAddPhase" modal="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '50rem', height: '30rem' }">
  <form [formGroup]="phaseForm" (ngSubmit)="onSubmitPhase()" class="p-fluid flex flex-col gap-8 ">
    <div class="field">
      <label for="name">Nombre</label>
      <input id="name" type="text" pInputText formControlName="name" class="border-2 border-gray-300" />
    </div>
    <div class="field">
      <label for="startDate">Fecha de Inicio</label>
      <div class="border-2 border-gray-300 rounded">
        <p-calendar id="startDate" formControlName="startDate" dateFormat="dd/mm/yy" placeholder="Fecha de Inicio" showIcon="true"></p-calendar>
      </div>
    </div>
    <div class="field">
      <label for="endDate">Fecha de Fin</label>
      <div class="border-2 border-gray-300 rounded">
        <p-calendar id="endDate" formControlName="endDate" dateFormat="dd/mm/yy" placeholder="Fecha de Fin" showIcon="true"></p-calendar>
      </div>
    </div>
    <p-footer>
      <div class="flex justify-between">
        <p-button label="Cancelar" (click)="visibleAddPhase = false"
          class="p-button-text text-customRed bg-white border-2 border-customRed rounded-lg p-2"></p-button>
        <p-button type="submit" label="Guardar"
          class="p-button-text text-white bg-customRed border-2 border-customRed rounded-lg p-2"></p-button>
      </div>
    </p-footer>
  </form>
</p-dialog>

<!-- Ventana para eliminar registros -->
<p-dialog header="Eliminar Registros" [modal]="true" [(visible)]="visibleDeleteConfirmation"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '25rem' }">
  <ng-template pTemplate="header">
    <div class="inline-flex items-center justify-center gap-2">
      <span class="text-lg font-bold block mb-5">¿Está seguro de eliminar estos registros?</span>
    </div>
  </ng-template>
  <div class="flex justify-between items-center gap-2">
    <div class="custom-button text-white bg-customRed border-2 border-customRed rounded-lg"
      (click)="visibleDeleteConfirmation = false">
      Cancelar
    </div>
    <div class="custom-button text-customRed bg-white border-2 border-customRed rounded-lg"
      (click)="confirmDeleteDialog()">
      Continuar
    </div>
  </div>
</p-dialog>
