<div class="px-5 py-3 flex flex-col gap-7 bg-gray-100">
  <h2 class="font-bold text-xl text-gray-600">Semestres Academicos</h2>

  <div class="flex items-center justify-between p-5 gap-x-36">
    <div class="flex items-center justify-between w-60 flex-1">
      <div
        class="flex-1 bg-white rounded-md flex items-center border-2 border-gray-200"
      >
        <span class="material-icons ml-3 cursor-pointer"> search</span>
        <input
          type="text"
          placeholder="Search"
          [(ngModel)]="search"
          class="w-full py-2 px-4 outline-none"
        />
      </div>
      <div class="ml-3 custom-button">
        <span class="material-icons mr-2"> tune</span>
        <p>Filters</p>
      </div>
    </div>
    <div class="flex items-center justify-between gap-2">
      <div
        class="custom-button"
        (click)="disableDeleteButton && showDialog()"
        [ngClass]="{
          'bg-[#e6e0e0]': !disableDeleteButton,
          'bg-slate-50': disableDeleteButton
        }"
      >
        <span class="material-icons mr-2"> delete</span>
        <p>Delete</p>
      </div>
      <div class="custom-button">
        <span class="material-icons mr-2"> cloud_download</span>
        <p>Export</p>
      </div>
      <div
        (click)="addNewSemester()"
        class="custom-button bg-customRed hover:bg-[#CAB0B5] text-white"
      >
        <span class="material-icons mr-2"> add</span>
        <p>Añadir nuevo Semestre</p>
      </div>
    </div>
  </div>
  <app-table-admin
    class="p-5"
    (canDelete)="disableDeleteButton = $event"
    [source]="source"
    [removeDelete]="canDelete"
    (deleteSource)="deleteSourcePrepare($event)"
    [search]="search"
    [headers]="headers"
  />
</div>
<p-dialog
  header="Header"
  [modal]="true"
  [(visible)]="visible"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '25rem' }"
>
  <ng-template pTemplate="header">
    <div class="inline-flex items-center justify-center gap-2">
      <span class="text-lg font-bold block mb-5"
        >Esta seguro de eliminar estos registros?</span
      >
    </div>
  </ng-template>

  <div class="flex justify-between items-center gap-2">
    <div
      class="custom-button bg-red-600 text-white hover:bg-red-500"
      (click)="visible = false"
    >
      Cancel
    </div>
    <div
      class="custom-button bg-green-500 text-white hover:bg-green-400"
      (click)="confirmDeleteDialog()"
    >
      Continuar
    </div>
  </div>
</p-dialog>
