@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer reset, primary;

@layer reset {
  .p-checkbox-box {
    border: 1px solid rgb(65, 62, 62) !important;
  }
  .p-checkbox .p-checkbox-box.p-highlight {
    background-color: #6a2733;
  }
  .p-datatable .p-sortable-column.p-highlight {
    color: #6a2733;
  }
  .p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
    color: #6a2733;
  }
}

@layer components {
  .custom-button {
    @apply cursor-pointer bg-slate-50 hover:bg-slate-100 text-gray-600 py-2 px-4 rounded-md flex items-center justify-between border-2 border-gray-200;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.box-shadow-dialog {
  box-shadow: 18px 21px 5px 0px rgba(207, 110, 129, 0.75);
  -webkit-box-shadow: 18px 21px 5px 0px rgba(207, 110, 129, 0.75);
  -moz-box-shadow: 18px 21px 5px 0px rgba(207, 110, 129, 0.75);
}
